In [1]:
from sklearn.pipeline import Pipeline
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from time import time
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_curve, roc_auc_score, log_loss
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import graphviz
import pickle

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def preprocessdataframe (df):
    imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
    imputer = imputer.fit(df.loc[:,['Age']])
    df.loc[:,'Age'] = imputer.transform(df.loc[:,['Age']])

    imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
    imputer = imputer.fit(df.loc[:,['Fare']])
    df.loc[:,'Fare'] = imputer.transform(df.loc[:,['Fare']])

    df.Embarked = df.Embarked.fillna('S')

    df = pd.get_dummies(data=df, columns=['Embarked', 'Pclass', 'Sex'])

    return df

In [3]:
def showroccurve(fpr, tpr, roc_auc, label, color):
    plt.figure()
    lw = 2
    plt.plot(fpr, tpr, color=color,
             lw=lw, label='ROC curve - {0} (area = {1:0.2f})'.format(label, roc_auc))
    plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()

In [4]:
def showmultiroccurve(params): #this should be a list of dictionaries of fpr, tpr, roc_auc, label, and color
    plt.figure()
    lw = 2
    for param in params:
        plt.plot(param["fpr"], param["tpr"], color=param["color"],
             lw=lw, label='ROC curve - {0} (area = {1:0.2f})'.format(param["label"],param["roc_auc"]))
    plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()

In [5]:
def showdecisiontree(model, feature_names, name):
    dot_data = tree.export_graphviz(model, out_file=None,
         feature_names=feature_names,
         class_names=['Did not survive', 'Survived'],
         filled=True, rounded=True,
         special_characters=True)
    graph = graphviz.Source(dot_data)
    graph.render(name)
    return True

In [6]:
def pickle_save(name, item):
    PIK = str(name)+ ".pickle"
    with open(PIK,"wb") as f:
        pickle.dump(item, f)

In [7]:
def pickle_load(name):
    PIK = str(name) + ".pickle"
    with open(PIK,"rb") as f:
        temp_item = pickle.load(f)
    return temp_item

In [8]:
model = pickle_load("mymodel")

In [9]:
def label_probability (row):
   if row['output'] == 0 :
      return row['no_probability']
   return row['yes_probability']

In [10]:
df = pd.read_csv('~/Documents/GitHub/TiberDataScienceLearning/Data/Titanic/test.csv')
x = df[['Pclass','Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y_predictions = model.predict(x)
y_probabilities = model.predict_proba(x)
x['output'] = y_predictions
x['no_probability'] = y_probabilities[:,0]
x['yes_probability'] = y_probabilities[:,1]
x['probability'] = x.apply (lambda row: label_probability (row),axis=1)
x = x.drop(['no_probability', 'yes_probability'], axis=1)

In [11]:
x

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,output,probability
0,3,male,34.5,0,0,7.8292,Q,0,0.813150
1,3,female,47.0,1,0,7.0000,S,1,0.518283
2,2,male,62.0,0,0,9.6875,Q,0,0.740192
3,3,male,27.0,0,0,8.6625,S,0,0.816938
4,3,female,22.0,1,1,12.2875,S,1,0.570444
5,3,male,14.0,0,0,9.2250,S,0,0.804592
6,3,female,30.0,0,0,7.6292,Q,1,0.524462
7,2,male,26.0,1,1,29.0000,S,0,0.699599
8,3,female,18.0,0,0,7.2292,C,1,0.533733
9,3,male,21.0,2,0,24.1500,S,0,0.775399
10,3,male,NaN,0,0,7.8958,S,0,0.844138
11,1,male,46.0,0,0,26.0000,S,0,0.671844
12,1,female,23.0,1,0,82.2667,S,1,0.742114
13,2,male,63.0,1,0,26.0000,S,0,0.717602
14,1,female,47.0,1,0,61.1750,S,1,0.743166
15,2,female,24.0,1,0,27.7208,C,1,0.708723
16,2,male,35.0,0,0,12.3500,Q,0,0.722753
17,3,male,21.0,0,0,7.2250,C,0,0.774343
18,3,female,27.0,1,0,7.9250,S,1,0.515972
19,3,female,45.0,0,0,7.2250,C,1,0.531805
20,1,male,55.0,1,0,59.4000,C,0,0.616383
21,3,male,9.0,0,1,3.1708,S,0,0.810071
22,1,female,NaN,0,0,31.6833,S,1,0.735178
23,1,male,21.0,0,1,61.3792,C,0,0.613497
24,1,female,48.0,1,3,262.3750,C,1,0.737507
25,3,male,50.0,1,0,14.5000,S,0,0.802221
26,1,female,22.0,0,1,61.9792,C,1,0.735646
27,3,male,22.5,0,0,7.2250,C,0,0.774489
28,1,male,41.0,0,0,30.5000,S,0,0.656694
29,3,male,NaN,2,0,21.6792,C,0,0.753602
...,...,...,...,...,...,...,...,...,...
388,3,male,21.0,0,0,7.7500,Q,0,0.798361
389,3,male,6.0,3,1,21.0750,S,0,0.766813
390,1,male,23.0,0,0,93.5000,S,0,0.639690
391,1,female,51.0,0,1,39.4000,S,1,0.732612
392,3,male,13.0,0,2,20.2500,S,0,0.767724
393,2,male,47.0,0,0,10.5000,S,0,0.745231
394,3,male,29.0,3,1,22.0250,S,0,0.786065
395,1,female,18.0,1,0,60.0000,S,1,0.738033
396,3,male,24.0,0,0,7.2500,Q,0,0.800663
397,1,female,48.0,1,1,79.2000,C,1,0.737507
398,3,male,22.0,0,0,7.7750,S,0,0.819086
399,3,male,31.0,0,0,7.7333,Q,0,0.813097
400,1,female,30.0,0,0,164.8667,S,1,0.745326
401,2,male,38.0,1,0,21.0000,S,0,0.722354
402,1,female,22.0,0,1,59.4000,C,1,0.735646
403,1,male,17.0,0,0,47.1000,S,0,0.648731
404,1,male,43.0,1,0,27.7208,C,0,0.632265
405,2,male,20.0,0,0,13.8625,C,0,0.695828
406,2,male,23.0,1,0,10.5000,S,0,0.736815
407,1,male,50.0,1,1,211.5000,C,0,0.616383
408,3,female,NaN,0,0,7.7208,Q,1,0.524105
409,3,female,3.0,1,1,13.7750,S,1,0.570581
410,3,female,NaN,0,0,7.7500,Q,1,0.524105
411,1,female,37.0,1,0,90.0000,Q,1,0.739411
412,3,female,28.0,0,0,7.7750,S,1,0.516863
413,3,male,NaN,0,0,8.0500,S,0,0.836253
414,1,female,39.0,0,0,108.9000,C,1,0.737507
415,3,male,38.5,0,0,7.2500,S,0,0.834200
416,3,male,NaN,0,0,8.0500,S,0,0.836253
417,3,male,NaN,1,1,22.3583,C,0,0.753602

In [12]:
x.to_csv("outputfile.csv")